<div class="errorz">
   <%= flash[:alert] %>
</div>

<div class="container">

  <div class="main-box">
    <div id="clipped-title">
      <h2 class="secondary-title"> THE LAST.FM </h2>
      <h1 class="main-title"> HIPSTER CREDULATOR </h1>
    </div>
    <div id="logo">
      <%= image_tag("hipster_logo.png", :alt => "rss feed", :class => "image") %>
    </div>
    <div class='align-center'>
      <form action="/users" method="post" role='form' class='form-horizontal'>
        <div class='form-group'>
          <input id="username" name="user[username]" type="text" class='form-control' placeholder='username'>

            <select name='user[account_type]' class="form-control dropdown">
              <option value='lastfm'>LastFM</option>
              <option value='pandora'>Pandora</option>
            </select>
            </div> <!-- form-group -->


        <button class='btn btn-primary'>Let me have it</button>
      </form>
    </div>
  </div> <!-- main-box -->
</div> <!-- container -->


<script>
$(document).ready(function(){
  $("form").submit(function(){
    $(".image").addClass("rotate");
    $(".main-form").empty();
    $(".errorz").hide();
    $(".main-form").append("<h4>CREDULATING...</h4>")

  });
});
</script>
