<h1> HIPSTER CRED CALCULATOR </h1>
<br>
<div class="container" style="margin:auto;width:80%">
  <%= form_for @user do |f| %>
  <div style="margin:auto;width:25%">
    <%= f.text_field :username, :class => "form-control", :placeholder => "LastFM username" %>
    <br>
    <%= f.submit "Let me have it.", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>

