/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'hipster';
  src: font-url('Haymaker.ttf')
}
.score {
  color:red;
  font-size:6em;
  font-family:'hipster';
  font-weight:bold;
}

#clipped-title {
  background: url(/assets/dark_wall.png) repeat center;
  background-size: 100px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main-title {
  font-family: 'hipster';
  font-size:4em;
  fill: url(#wood);
}

.secondary-title {
  font-family: 'hipster';
  font-size:2.75em;
  width:50%;
  border-bottom:1.5px solid black;
  margin:auto;

}

.title {
  font-size:2.5em;
  font-weight:bold;
  font-family: 'hipster';
  border-bottom:2px solid black;
}

.results-box ul {
  padding:1px !important;
}

.show-box {
  max-width:800px;
  border:6px double #615D5D;
  height:100%;
  padding:30px 0 0 0;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

.main-box {
  padding-top:50px;
  border-radius:50%;
  height:700px !important;
  width:700px !important;
  margin:auto;
}

.wrap {
 margin:auto;
 width:350px;
 height:20px;
}

#out-of-ten {
  margin-top:-20px;
}

#logo {
  padding:10px 0 10px 0;
}

#obscurity {
  float:left;
  height:20px;
  width:1px;
  background-color:forestgreen;
  color:white;
  margin-left:9.2px;
}

#freshness {
  float:left;
  height:20px;
  width:1px;
  background-color:green;
  color:white;
  margin-left:5.25px;
}

#rating {
  float:left;
  height:20px;
  width:1px;
  background-color:darkgreen;
  color:white;
  margin-left:29px;
}

.float-left {
  float:left;
}

body {
  margin-top:30px;
  text-align:center;
  background-image: image-url("paper.png")
}

html,body {
  height:100%;
}

li {
  list-style-type:none;
}

p {
  line-height: 80%;
}

.transparent {
  background-color:rgba(255,255,255,0.9);
}

.main-form {
  padding-top:30px;
}

.errorz {
  background-color:rgb(200,0,0);
  color:white;
}

.rotate {
    padding:20px 0 20px 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
