<!DOCTYPE html>
<html>
<head>
  <title>HipsterCred</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans' rel='stylesheet' type='text/css'>
 <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
